<template>
  <div class="carouselDemo">
    <h1>Carousel Demo</h1>
    <div class="carousel-area">
      <div class="carousel-show">
        <carousel v-if="this.loading" :autoplay="true" :items="3">
            <img class="show-item" v-for="prod in prods" :key="prod.prodImg" :src="prod.prodImg" />
        </carousel>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import carousel from 'vue-owl-carousel2'
export default {
  name: 'carouselDemo',
  components: {
    carousel
  },
  data () {
    return {
      prods: [],
      loading: false
    }
  },
  methods: {},
  computed: {},
  created () {
    const url = 'http://localhost:9999/product/list'
    axios.post(url).then(data => {
      // console.log(data.data)
      const resArrObj = JSON.stringify(data.data)
      // console.log(resArrObj)
      const items = JSON.parse(resArrObj)
      console.log(items)
      if (items && items.isSuccess) {
        this.prods = items.data
        this.loading = true
      } else if (!data.data.isSuccess) {
        alert(data.data.message)
      }
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.carousel-area {
  width: 70%;
  min-height: 200px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 15px;
}

.carousel-show {
  width: 40%;
  min-height: 200px;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 30px 20px 0 20px;
  vertical-align: middle;
  margin: 0 auto;
}

.show-item {
  max-height: 100px;
  min-height: 100px;
  max-width: 150px;
  min-width: 150px;
  border-radius: 5px;
}

</style>
