<template>
  <div id="app">
    <div>
      <h1 style="text-align: center">Vue Recaptcha Demo</h1>
      <div class="content">
        <div class="auth-form-wrapper">
          <form
            class="auth-form"
            @submit.prevent="submit"
          >
            <div class="header">
              <h1>
                Sign up
              </h1>
            </div>
            <div class="input-group">
              <label for="email">email
              </label>
              <input
                v-model="email"
                required
                placeholder="name@domain.com"
                class=""
                name="email"
                id="email"
              />
            </div>
            <div class="input-group">
              <label for="password">密碼</label>
              <input
                required
                v-model="password"
                type="password"
                placeholder="密碼"
                class=""
                name="password"
                id="password"
              />
            </div>
            <div class="input-group">
              <label for="password-confirmation">確認密碼
              </label>
              <input
                required
                type="password"
                placeholder="請再輸入一次密碼"
                class=""
                name="password confirmation"
                id="password-confirmation"
              />
            </div>
            <div class="input-group">
              <vue-recaptcha
                ref="recaptcha"
                @verify="onCaptchaVerified"
                @expired="onCaptchaExpired"
                size="invisible"
                sitekey="6LdZIsgUAAAAAKk9gCqWZIFrXST71FMnZJxPFkKj"
              >
              </vue-recaptcha>
              <button
                :disabled="status==='submitting'"
                type="submit"
                class="button"
              >sign up</button>
            </div>
            <div
              v-cloak
              class=""
            >
              <div v-show="serverError">
                {{serverError}}
              </div>
            </div>
          </form>
        </div>
        <popup-modal
          :okMsg="sucessfulServerResponse"
          v-if="isOpen"
          @close="isOpen = false"
        >
          <h2 slot="header">Recaptcha Response</h2>
          <h4 slot="description">{{this.sucessfulServerResponse}}</h4>
        </popup-modal>
      </div>
    </div>
  </div>
  <!-- <script src="https://unpkg.com/vue@latest/dist/vue.js" defer></script>
    <script src="https://unpkg.com/vue-recaptcha@latest/dist/vue-recaptcha.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" defer></script>
    <script type="text/javascript" src="index.js" defer></script> -->
</template>

<script>
import PopupModal from '@/components/PopupModal/index.vue'
import VueRecaptcha from 'vue-recaptcha'
import axios from 'axios'
export default {
  name: 'counter',
  components: {
    VueRecaptcha,
    PopupModal
  },
  methods: {
    submit: function () {
      // this.status = "submitting";
      this.$refs.recaptcha.execute()
    },
    onCaptchaVerified: function (recaptchaToken) {
      const self = this
      self.status = 'submitting'
      self.$refs.recaptcha.reset()
      axios
        .post('http://localhost:9999/botVerify/signup', {
          email: self.email,
          password: self.password,
          recaptchaToken: recaptchaToken
        })
        .then(response => {
          this.isOpen = true
          // console.log('google response:', response)
          this.sucessfulServerResponse = response.data.message
        })
        .catch(err => {
          self.serverError = getErrorMessage(err)

          // helper to get a displayable message to the user
          function getErrorMessage (err) {
            let responseBody
            responseBody = err.response
            if (!responseBody) {
              responseBody = err
            } else {
              responseBody = err.response.data || responseBody
            }
            return responseBody.message || JSON.stringify(responseBody)
          }
        })
        .then(() => {
          self.status = ''
        })
    },
    onCaptchaExpired: function () {
      this.$refs.recaptcha.reset()
    }
  },
  data () {
    return {
      email: '',
      password: '',
      passwordConfirmation: '',
      status: '',
      sucessfulServerResponse: '',
      serverError: '',
      okMsg: null,
      isOpen: false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
  font-family: "Roboto", sans-serif;
  color: #888;
  margin: 0;
  padding: 0;
  position: relative;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  align-items: center;
}

input {
  min-height: 34px;
  padding: 2px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  padding: 5px 0;
}

button,
.button {
  padding: 10px;
  min-height: 34px;
  border-radius: 2px;
  border: 1px solid #4a90e2;
  cursor: pointer;
  color: #fff;
  background-color: #4a90e2;
  transition: background-color, border-color;
}

button:hover,
.button:hover {
  color: #4a90e2;
  background-color: #fff;
}

button:active {
  color: #fff;
  background-color: #4a90e2;
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

button:hover:disabled {
  color: #fff;
  background-color: #4a90e2;
  cursor: default;
}

.input-group {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.auth-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.auth-form-wrapper .auth-form {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  padding: 40px;
  width: 350px;
}

.auth-form-wrapper .auth-form .prompt-wrapper {
  text-align: center;
  padding: 10px 0;
}

.auth-form-wrapper .auth-form .header {
  align-self: center;
  text-align: center;
}

.auth-form-wrapper .auth-form .header img {
  width: 50px;
}

.successful-server-response-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.successful-server-response {
  text-align: center;
  max-width: 500px;
  font-size: 36px;
  background-color: #5cb85c;
  color: #f1f1f1;
  padding: 20px;
  border-radius: 3px;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

html {
  height: 100vh;
}

[v-cloak] > * {
  display: none;
}
</style>
