<template>
  <div class="AjaxDemo">
    <div>
      <table>
        <thead>
          <tr>
            <td>顯示圖片</td>
            <td>產品名稱</td>
          </tr>
        </thead>
        <tbody v-if="this.products.length > 0">
          <tr
            v-for="(item,index) in products"
            :key="index"
            @click="showProdDetail(item)"
          >
            <td><img :src="item.prodImg" /></td>
            <td>
              <h4>{{item.prodName}}</h4>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
            查無資料
        </tbody>
      </table>
      <popup-modal
        :product="this.product"
        v-if="isOpen"
        @close="isOpen = false"
      >
        <!--
      you can use custom content here to overwrite
      default content
    -->
        <h2 slot="header">產品明細資料</h2>
        <img slot="prodImg" :src="this.product.prodImg" />
        <h3 slot="prodId">產品ID:{{this.product.prodId}}</h3>
        <h4 slot="prodName">品名:{{this.product.prodName}}</h4>

        <h4 slot="amount">售價:{{this.product.amount}}</h4>
        <h4 slot="width">寬:{{this.product.width}}</h4>
        <h4 slot="height">高:{{this.product.height}}</h4>
        <h4 slot="weight">重:{{this.product.weight}}</h4>
        <h4 slot="description">說明:{{this.product.description}}</h4>

      </popup-modal>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import PopupModal from '@/components/PopupModal/index.vue'

export default {
  name: 'AjaxDemo',
  components: {
    PopupModal
  },
  data () {
    return {
      isOpen: false,
      products: [],
      product: null
    }
  },
  methods: {
    showProdDetail (item) {
      // alert('{ prodId:' + item.prodId + ',name:' + item.prodName + '}')
      const url = 'http://localhost:9999/product/detail'
      axios.post(url, { prodId: item.prodId }).then(data => {
        console.log(data.data)
        if (data.data.isSuccess) {
          this.product = data.data.data
          this.isOpen = true
          // console.log(this.product)
        } else if (!data.data.isSuccess) {
          alert(data.data.message)
        }
      })
    }
  },
  created () {
    const url = 'http://localhost:9999/product/list'
    axios.post(url).then(data => {
      // console.log(data.data)
      const resArrObj = JSON.stringify(data.data)
      // console.log(resArrObj)
      const items = JSON.parse(resArrObj)
      console.log(items)
      if (items && items.isSuccess) {
        this.products = items.data
      } else if (!data.data.isSuccess) {
        alert(data.data.message)
      }
    })
    // axios
    //   .post(url).then(data => {
    //     console.log(data)
    //   })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
  border: 1px;
  border-block-color: red;
}
thead td {
  text-align: left;
}
tbody td {
  padding: 10px;
  text-align: left;
}
</style>
