<template>
    <div>
        <ul style="text-align:center;">
            <li v-for="(item,index) in pageData" :key="index">
                <router-link :to="{name:item.name}">{{item.showText}}</router-link>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
  name: 'Menu',
  components: {
    // HelloWorld
  },
  data () {
    return {
    }
  },
  mounted: function () {
    // console.log(this.pageData)
  },
  props: {
    pageData: {
      type: Array,
      // required: true
      default: function () {
        return []
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  display: inline-block;
  width: 50%;
  padding: 0;
}
li {
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
}
</style>
