<template>
  <div class="listDemo">
      <h1>List Demo</h1>
    <list/>
  </div>
</template>

<script>
// @ is an alias to /src
import List from '@/components/List/index.vue'

export default {
  name: 'ListDemo',
  components: {
    List
  },
  data () {
    return {
    }
  }
}
</script>
