<template>
  <div class="list">
    <div>
      <ul>
          <li
            v-for="(item,index) in items" :key="index"
            @click="liClick(item)"
          >{{item.name}}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'List',
  data () {
    return {
      items: [
        {
          'id': 0,
          'name': 'AAA'
        },
        {
          'id': 1,
          'name': 'BBB'
        },
        {
          'id': 2,
          'name': 'CCC'
        },
        {
          'id': 3,
          'name': 'DDD'
        }
      ]
    }
  },
  methods: {
    liClick (item) {
      alert('{ id:' + item.id + ',name:' + item.name + '}')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: block;
  margin: 0 10px;
}
</style>
