<template>
  <div class="practice">
    <h1>Practice</h1>
    <router-link to="/">Home</router-link>
    <h3>練習項目清單</h3>
    <div class="center">
     <ul>
       <li><router-link :to="{name: 'counter'}">Counter</router-link></li>
       <li><router-link :to="{name: 'search'}">Search</router-link></li>
       <li><router-link :to="{name: 'filterDemo'}">Filter Demo</router-link></li>
       <li><router-link :to="{name: 'listDemo'}">List Demo</router-link></li>
       <li><router-link :to="{name: 'modalDemo'}">Modal Demo</router-link></li>
       <li><router-link :to="{name: 'register'}">Register</router-link></li>
       <li><router-link :to="{name: 'ajaxDemo'}">Ajax demoText</router-link></li>
       <li><router-link :to="{name: 'refDemo'}">Ref Demo</router-link></li>
       <li><router-link :to="{name: 'carouselDemo'}">Carousel Demo</router-link></li>
       <li><router-link :to="{name: 'counterWithState'}">Counter With State</router-link></li>
       <li><router-link :to="{name: 'reCaptchaDemo'}">Login with Recaptcha </router-link></li>
     </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Practice',
  components: {
    // HelloWorld
  },
  data () {
    return {
    //   demoText: 'Vue.js Labs',
    //   env: constant.env
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.center{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
h3 {
  margin: 40px 0 40px 0;
}
ul {
  width: 50%;
  list-style-type: none;
  padding: 0;
}
li {
  text-align: left;
  display: block;
  margin: 0 10px;
  padding: 10px;
}
a {
  color: #42b983;
}
</style>
