<template>
  <div class="modalDemo">
    <button
      id="show-modal"
      @click="isOpen = true"
    >Open Modal</button>
    <!-- use the modal component, pass in the prop -->
    <popup-modal
      v-if="isOpen"
      @close="isOpen = false"
    >
      <!--
      you can use custom content here to overwrite
      default content
    -->
      <h3 slot="header">custom header</h3>
    </popup-modal>
  </div>
</template>

<script>
import PopupModal from '@/components/PopupModal/index.vue'
export default {
  name: 'modalDemo',
  components: {
    PopupModal
  },
  data () {
    return {
      isOpen: false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* p {
  padding: 0 150px;
  text-align: left;
} */
</style>
