<template>
  <div class="register">
    <h1>Register</h1>
    <ValidationObserver
      ref="observer"
      v-slot="{ passes }"
    >
      <form id="app">
        <ValidationProvider
          rules="required|alpha_num|max:10|min:10"
          ref="provider"
          v-slot="{pristine, validated, errors}"
        >
          <div class="field">
            <label for="txtId">身分證字號 :</label>
            <input
              id="txtId"
              v-model="txtId"
              type="text"
              name="txtId"
            >
            <span>{{ errors[0] }}</span>
          </div>
        </ValidationProvider>
        <ValidationProvider
          rules="required|max:30"
          v-slot="provider"
        >
          <div class="field">
            <!-- <input
            v-model="field.value"
            :type="field.type"
            :placeholder="field.name"
          > -->
            <label for="txtName">姓名</label>
            <input
              id="txtName"
              v-model="txtName"
              type="text"
              name="txtName"
            >
            <span>{{ provider.errors[0] }}</span>
          </div>
        </ValidationProvider>
        <ValidationProvider
          rules="required"
          v-slot="provider"
        >
          <div class="field">
            <label>性別</label>
            <input
              type="radio"
              id="male"
              name="male"
              value="male"
              v-model="picked"
            >
            <label for="male">男</label>
            <input
              type="radio"
              id="female"
              name="female"
              value="female"
              v-model="picked"
            >
            <label for="female">女</label>
            <span>{{ provider.errors[0] }}</span>
          </div>
        </ValidationProvider>
        <ValidationProvider
          rules="required|numeric|max:10"
          v-slot="provider"
        >
          <div class="field">
            <label for="txtPhone">手機號碼</label>
            <input
              id="txtPhone"
              v-model="txtPhone"
              type="text"
              name="txtPhone"
            >
            <span>{{ provider.errors[0] }}</span>
          </div>
        </ValidationProvider>
        <div>
          <input
            type="button"
            value="Submit"
            @click="checkForm"
          >&nbsp;&nbsp;
          <input
            type="button"
            @click="clearInput"
            value="Clear"
          >
        </div>
        <!-- <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li
            v-for="error in errors"
            :key="error"
          >{{ error }}</li>
        </ul>
      </p> -->

        <!-- <p>
        <label for="txtId">身分證字號</label>
        <input
          id="txtId"
          v-model="txtId"
          type="text"
          name="txtId"
          max="10"
          min="10"
        >
      </p> -->

        <!-- <p>
        <label for="txtName">姓名</label>
        <input
          id="txtName"
          v-model="txtName"
          type="text"
          name="txtName"
        >
      </p> -->

        <!-- <p>
        <label>性別</label>
        <input
          type="radio"
          id="male"
          name="male"
          value="male"
          v-model="picked"
        >
        <label for="male">男</label>
        <input
          type="radio"
          id="female"
          name="female"
          value="female"
          v-model="picked"
        >
        <label for="female">女</label>
         <span>picked : {{picked}}</span>
      </p> -->
        <!-- <p>
        <label for="txtPhone">手機號碼</label>
        <input
          id="txtPhone"
          v-model="txtPhone"
          type="text"
          name="txtPhone"
        >
      </p> -->
        <!-- <p>
        <input
          type="submit"
          value="Submit"
        >&nbsp;&nbsp;
        <input
          type="button"
          @click="clearInput"
          value="Clear"
        >
      </p> -->

      </form>
    </ValidationObserver>
  </div>
</template>

<script>
// import { extend } from 'vee-validate'
// import { required } from 'vee-validate/dist/rules'
// import { ValidationObserver, ValidationProvider } from 'vee-validate'

export default {
  name: 'register',
  components: {
    // ValidationObserver,
    // ValidationProvider
  },
  data: function () {
    return {
      errors: [],
      txtId: null,
      txtName: null,
      picked: null,
      txtPhone: null
    }
  },
  methods: {
    checkForm: async function (e) {
      // if (this.txtId && this.txtName) {
      //   return true
      // }

      // this.errors = []

      // if (!this.txtId) {
      //   this.errors.push('Id required.')
      // }
      // if (!this.txtName) {
      //   this.errors.push('Name required.')
      // }

      // e.preventDefault()
      // this.submit()
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        alert(
          '身分證字號 : ' +
            this.txtId +
            '\n 姓名 : ' +
            this.txtName +
            '\n 性別 : ' +
            this.picked +
            '\n  手機號碼 : ' +
            this.txtPhone
        )
      }
    },

    clearInput: function () {
      // this.txtId = null
      // this.txtName = null
      // this.picked = null
      // this.txtPhone = null
      Object.assign(this.$data, this.$options.data())
      this.$refs.observer.reset()
    }
  }
}
</script>
