<template>
<div class="filterDemo">
  <input type="text" v-model="numInput" placeholder="請輸入數字">
  <div>
      <p>轉換結果 => {{ numInput | commafy}}</p>
  </div>
</div>
</template>

<script>
export default {
  name: 'filterDemo',
  components: {
    // HelloWorld
  },
  data () {
    return {
      numInput: 0
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* p {
  padding: 0 150px;
  text-align: left;
} */
</style>
