<template>
  <div class="refDemo">
    <div >
      <input
        type="text"
        ref="search"
        placeholder="Focus On Me"
      />
    </div>
    <div>
      <button
        type="button"
        @click="setFocus"
      >Set Focus</button>
    </div>
  </div>

</template>
<script>
export default {
  name: 'refDemo',
  components: {
    // HelloWorld
  },
  data () {
    return {
    }
  },
  methods: {
    setFocus () {
      // Note, you need to add a ref="search" attribute to your input.
      console.log('qqq')
      this.$refs.search.focus()
    }
  }
}
</script>
<style scoped>
/* body {
  background-color: purple;
  padding: 50px;
}
.container {
  padding: 40px 80px 15px 80px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
}
.btn {
  outline: none !important;
}
.btn.btn-primary {
  background-color: purple;
  border-color: purple;
  outline: none;
  :active,
  :focus {
    background-color: lighten(purple, 5%);
    border-color: lighten(purple, 5%);
  }
  .fa {
    padding-right: 4px;
  }
}
.form-group {
  margin-bottom: 25px;
  text-align: left;
} */
</style>
