<template>
  <div class="counter">
    <h1>Counter</h1>
    <h3>Count:{{count}}</h3>
    <button @click="decrementValue">-1</button>
    &nbsp;&nbsp;
    <button @click="incrementValue">+1</button>
  </div>
</template>

<script>
export default {
  name: 'counter',
  components: {
    // HelloWorld
  },
  data () {
    return {
      count: 0
    }
  },
  methods: {
    incrementValue () {
      this.count++
    },
    decrementValue () {
      this.count--
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
