<template>
  <div id="app">
    <nav-menu :page-data='pageList'/>
    <router-view />
    <div class="footer">
      <span>© 2019 Thinkpower.</span>
    </div>
  </div>
</template>
<script>
import NavMenu from '@/components/Menu/index.vue'
export default {
  name: 'app',
  components: {
    NavMenu
  },
  data () {
    return {
      pageList: [
        {
          'url': '/',
          'name': 'home',
          'showText': 'Home'
        },
        {
          'url': '/about',
          'name': 'about',
          'showText': 'About'
        },
        {
          'url': '/practice',
          'name': 'practice',
          'showText': 'Practice'
        }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
#app {
  text-align: center;
  color: #2c3e50;
  padding-bottom: 50px;
}

#nav {
  padding: 30px;
  margin-bottom: 10px;
  background-color: #eee;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.footer {
  z-index: -1;
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #eee;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & span {
    color: #333;
    font-size: 12px;
    padding-right: 10px;
  }
}
</style>
