<template>
<div class="searcher">
  <input type="text" v-model="search" placeholder="請輸入關鍵字">
  <div v-for="item in filteredItems" :key="item">
      <ul>
          <li>{{item}}</li>
      </ul>
  </div>

</div>
</template>

<script>
export default {
  name: 'searcher',
  components: {
    // HelloWorld
  },
  data () {
    return {
      search: '',
      items: ['Ada', 'Aaliyah', 'Adela', 'Basia', 'Bonnie', 'Brook', 'Candice', 'Celeste', 'Cheryl', 'Ella', 'Eudora', 'Gemma']
    }
  },
  computed: {
    filteredItems () {
      return this.items.filter(item => {
        return item.toLowerCase().indexOf(this.search.toLowerCase()) > -1
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* p {
  padding: 0 150px;
  text-align: left;
} */
</style>
